<div class="navbar navbar-default">
    <a href="/">
                  <img src="html/assets/titlebar.png" class="title-bar">

            </a>    
<!-- </div> -->
   <div class="navbar-collapse" role="navigation">
        <ul class="nav nav-pills nav-default">
          <!-- Notice: For Home to active, it must evalute
              TRUE for ngclass-active==="/" or "home" etc>
          </!-->
          <li class="pill-style nav-link" [ngClass]="{'active': currentRoute === 'home'}"><a (click)="goToRoute('home')">Cars</a></li>

           <li class="pill-style nav-link" [ngClass]="{'active': currentRoute === 'parts'}">
            <a (click)="goToRoute('parts')">Parts</a></li>

            <li class="pill-style nav-link"[ngClass]="{'active': currentRoute === 'sold'}">
            <a (click)="goToRoute('sold')">Sold</a></li>

           <li class="pill-style nav-link"[ngClass]="{'active': currentRoute === 'about'}">
            <a (click)="goToRoute('about')">About Us</a></li>
       </ul>
   </div>

 </div> <!-- added for supramarket styling changes -->

