<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="navbar navbar-default">
    <a href="/">
      <img src="html/assets/titlebar.png" class="title-bar">

    </a>    
<!-- </div> -->
   <div class="navbar-collapse" role="navigation">

      <ul class="nav nav-pills nav-default">
          <!-- Notice: For Home to active, it must evalute
              TRUE for ngclass-active==="/" or "home" etc>
          </!-->
          <li class="pill-style nav-link" [ngClass]="{'active': currentRoute === 'home'}"><a (click)="goToRoute('home')">Cars</a></li>

           <li class="pill-style nav-link" [ngClass]="{'active': currentRoute === 'parts'}">
            <a (click)="goToRoute('parts')">Parts</a></li>

            <li class="pill-style nav-link"[ngClass]="{'active': currentRoute === 'sold'}">
            <a (click)="goToRoute('sold')">Sold</a></li>

           <li class="pill-style nav-link"[ngClass]="{'active': currentRoute === 'about'}">
            <a (click)="goToRoute('about')">About</a></li>
            <!--
            <li>
                <a href="https://www.facebook.com/SupraMarket/" target="_blank" class="fa fa-facebook"></a>
            </li>
            <li>
            <a href="https://www.instagram.com/supramarket/" class="fa fa-instagram" target="_blank"></a>
          </li> -->
       </ul>

   </div>
 </div> <!-- added for supramarket styling changes -->

