.col-sm{
	float: center;
	height: 700px;
	display: inline;
}

.img-color {
	padding-left: 30px;
	font-family: cursive;
}

img {
	margin-left, margin-right: 20px;
	padding: 20px;
    border: 0px solid #ddd;
    border-radius: 4px;
    width: auto;
    height: 100%;
}
.col-sm-2{
	vertical-align: center;
	height: 100%;
}
.glyphicon{
	vertical-align: center;
	color: #fdfdfd;
}


