<div *ngIf="product" class="item panel">

   <div class="row">
       <div class="col-xs-12" id="title">
          {{product.title}}
       </div>
   </div>

   <div class ="row row-no-gutters">
     <div class="col-xs-12">
        <img class="product-image" src = "{{product.productImageList[0].imageUrl}}"> 
     </div> 
   </div>

   <div class="row row-no-gutters">
     <div class="col-xs-3">
        <div class="html-body" [innerHTML]="product.bodyHtml">
        </div>
      </div>
    </div>


    <div *ngIf="showBuyButton(product); else soldOut" class="row row-no-gutters" id="details">
      <div class="col-xs-3" id="price">
        ${{product.productVariantList[0].price}}
        <a href="{{product.productUrl}}"><img class="buy-image" src="html/assets/buy.png"></a>
      </div>
    </div>

    <ng-template #soldOut>
      <div class="row row-no-gutters">
        <div class="col-xs-12">
          <img class="sold-out" src="html/assets/soldout.png">
        </div>
      </div>
    </ng-template>

</div>

  <div *ngIf="error" class="alert alert-danger"> 
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  {{error}}
  </div>
