li {
    list-style-type: none;
}
h3{
	background-color: #FFFFFF;
	margin: 0px;
	padding: 10px 30px;
}
.card{
	display: inline-block;
}
.wrapper{
	text-align: center;
}
.row{
	height: 75%;
}
.foot{
	margin: 0px;
	vertical-align: middle;
	position: absolute;
	bottom: 0;
	max-height: 50px;
	display: inline-block;
	background-color: #FFFFFF;
}
.item-info{
	margin-left: 100px;
	vertical-align: text-top;
	text-align: justify;
}