
<div class="row">
	<div  *ngIf="items" class="wrapper">
	
		<item-card (itemIndexEvent)="updateIndex($event)" 
		  [(item)]="item">
		</item-card>

	</div>
</div>
<div *ngIf="item" class="foot">
	<span class="item-info">
		{{item.year}}
		 {{item.make}} {{item.model}} {{item.trim}} | {{item.color}} | {{item.vin}} | {{item.price}}

	</span>
</div>

	<div *ngIf="error" class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  {{error}} Temporarily down.  Check back later.
</div>  
