
<div class="row">
	<div  *ngIf="soldItems" class="wrapper">
	
		<item-card (itemIndexEvent)="updateIndex($event)" 
		  [(item)]="soldItem">
		</item-card>

	</div>
</div>
<div *ngIf="soldItem" class="foot">
	<span class="item-info">
		{{soldItem.year}}
		 {{soldItem.make}} {{soldItem.model}} {{soldItem.trim}} | {{soldItem.color}} | {{soldItem.vin}} 

	</span>
</div>
	<div *ngIf="error" class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign">
  	Historical Data of Sold Vehicles Coming Soon!
  </span>
  
</div>